 <header class="inner">
        <h2><a href="/">
                GameTagr</a></h2>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">All Games</a>
                </li>
                <li>
                    <a href="/games/add">Add Game</a>
                </li>
            </ul>
        </nav>
    </header>
<div class="container small-container medium-container details-box">
    <h1>{{games.dataValues.postTitle}}</h1>
    <p class="post"><span class="yellow">Game: </span> {{games.dataValues.gameTitle}}</p>
    <p class="post"><span class="yellow">By: </span>{{games.dataValues.author}}</p>
    <p class="post review-format">{{games.dataValues.review}}</p>

    <div class="rating">
        <small>Rating: <span>{{games.dataValues.rating}}</span></small>
    </div>
        <a class="delete" data-doc="{{games.dataValues.id}}"><i class="fas fa-trash-alt"></i></a> 
    </div>
