 <header class="inner">
        <h2><a href="/">
                GameTagr</a></h2>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">All Games</a>
                </li>
                <li>
                    <a href="/games/add">Add Game</a>
                </li>
            </ul>
        </nav>
    </header>
<div class="game">
    <h1>{{games.dataValues.postTitle}}</h1>
    <p class="">{{games.dataValues.gameTitle}}</h3>
    <h2>{{games.dataValues.author}}</h2>
    <p>{{games.dataValues.review}}</p>

    <div class="rating">
        <small>Rating: <span>{{games.dataValues.rating}}</span></small>
    </div>
        <a class="delete" data-doc="{{games.dataValues.id}}"><i class="fas fa-trash-alt"></i></a> 
    </div>
