 <header class="inner">
        <h2><a href="/">
                GameTagr</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">All Games</a>
                </li>
                <li>
                    <a href="/games/add">Add Game</a>
                </li>
            </ul>
        </nav>
    </header>

<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Game</h1>
        <p>Tag a game!</p>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}
        <form action="/games/add" method="POST">
            <div class="input-group">
                <label for="postTitle">Post Title</label>
                <input type="text" name="postTitle" id="postTitle" class="input-box" placeholder="eg. Post Title"
                    maxlength="100" value={{postTitle}}>
            </div>
            <div class="input-group">
                <label for="gameTitle">Game Title</label>
                <input type="text" name="gameTitle" id="gameTitle" class="input-box" placeholder="eg. Game Title"
                    maxlength="100" value={{gameTitle}}>
            </div>
            <div class="input-group">
                <label for="review">Game Review</label>
                <textarea name="review" id="review" class="input-box" placeholder="Review the game"
                    rows="10">{{review}}</textarea>
            </div>
            <div class="input-group">
                <label for="author">Author</label>
                <input type="author" name="author" id="author" class="input-box" placeholder="Your Name"
                    value={{author}}>
            </div>
            <h2>{{rating}}</h2>
            <div class="input-group">
                <label for="rating">Star Rating</label>
                <input type="number" name="rating" id="rating" class="input-box" placeholder="How many stars?" value={{ rating }}>
            </div>
            <input type="submit" value="Tag Game" class="btn btn-reverse">
        </form>
    </div>
</section>