<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Game</h1>
        <p>Tag a game!</p>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}
        <form action="/games/add" method="POST">
            <div class="input-group">
                <label for="postTitle">Post Title</label>
                <input type="text" name="postTitle" id="postTitle" class="input-box" placeholder="eg. Post Title"
                    maxlength="100" value={{postTitle}}>
            </div>
            <div class="input-group">
                <label for="gameTitle">Game Title</label>
                <input type="text" name="gameTitle" id="gameTitle" class="input-box" placeholder="eg. Game Title"
                    maxlength="100" value={{gameTitle}}>
            </div>
            <div class="input-group">
                <label for="review">Game Review</label>
                <textarea name="review" id="review" class="input-box" placeholder="Review the game"
                    rows="10">{{review}}</textarea>
            </div>
            <div class="input-group">
                <label for="author">Author</label>
                <input type="author" name="author" id="author" class="input-box" placeholder="Your Name"
                    value={{author}}>
            </div>
            <div class="input-group">
                <label for="rating">Star Rating</label>
                <input type="rating" name="rating" id="rating" class="input-box" placeholder="How many stars?"
                    value={{rating}}>
                    <div class="rate">
                        <input type="radio" class="starRate" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" class="starRate" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" class="starRate" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" class="starRate" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" class="starRate" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
            </div>
            <input type="submit" value="Tag Game" class="btn btn-reverse">
        </form>
    </div>
</section>