 <header class="inner">
        <h2><a href="/"><i class="fas fa-code"></i>
                GamePosts</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">All Games</a>
                </li>
                <li>
                    <a href="/games/add">Add Game</a>
                </li>
            </ul>
        </nav>
    </header>

<section id="games" class="container">
    <h1>All Games</h1>

    <!-- Loop through games that were passed in -->
    {{#each games}}
    <div class="game">
        <h2>{{this.dataValues.postTitle}}</h2>
        <h3>{{this.dataValues.gameTitle}}</h3>
        <p>{{this.dataValues.review}}</p>
        <ul>
            <li>{{this.dataValues.author}}</li>
            <li><a href="#" class="btn btn-reverse">Expand Post</a></li>
        </ul>
        <div class="rating">
            <small>Rating: <span>{{this.dataValues.rating}}</span></small>
        </div>
    </div>
    <!-- If there are no games in the database -->
    {{else}}
    <p>No games available</p>
    {{/each}}




</section>